@font-face {
  font-family: "dmcv";
  src: url(fonts/dmc5/dmc5font-webfont.woff);
}

body {
  background: #ffffff;
}

#test1 {
  font-size: 140pt;
  background: -webkit-linear-gradient(left, #ce1818 30%, #75dcd5, #000000 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'dmcv';
  font-weight: 200;
  text-align: center;
  padding-top: 5%;
}
